@import "tailwindcss";

@theme {
  /* Fonts (optional — enables `font-poppins` / `font-inter`) */
  --font-poppins: "Poppins", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-inter: "Inter", sans-serif;

  --color-primary-black: #0a090c;
  --color-primary-gray: #343a40;
  --color-primary-white: #dfe0e2;

  --color-gray-shade-dark: #212529;
  --color-gray-shade-medium: #495057;
  --color-gray-shade-light: #6c757d;

  --breakpoint-mobile-768: 768px;
  --breakpoint-mobile-640: 640px;
  --breakpoint-mobile-425: 425px;
  --breakpoint-mobile-375: 375px;
}

body {
  background-color: var(--color-primary-black);
}
